{# debut menu navigation #}
        <input type="checkbox" id="active">
        <label for="active" class="menu-btn"><span></span></label>
        <label for="active" class="close"></label>
        <div class="wrapper">
            <ul>
                <li><a href="{{ path('conver_ed') }}">EURO/DOLLAR</a></li><br>
                <li><a href="{{ path('conver_efs') }}">EURO/FrancSuisse</a></li><br>
                <li><a href="{{ path('conver_fsd') }}">FrancSuisse/DOLLAR</a></li>
            </ul>
        </div>
    {# fin menu navigation #}
